#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


.accordion-header {
  position: relative;
}
.accordion-input {
  position: absolute;
  top: 8px;
  right: 11px;
  z-index: 100;
}
.accordion-input input {
  font-size: 1rem;
}

#accordionExample .accordion-body {
  padding: 1rem 0.5rem;
}

.list-group-item {
  padding: 0.5rem 0.5rem;
  /* display: flex; */
}

#search-input {
	position: sticky;
	top: 20px;
  z-index: 100;
}